AI-Node/AI-Node.json
[{"id":"fd355d95.13057","type":"tab","label":"可视化dashboard","disabled":false,"info":""},{"id":"ff27f925.fbdbf8","type":"tab","label":"blockly控制灯泡","disabled":false,"info":""},{"id":"8bc3845f.b51bd8","type":"mqtt-broker","z":"","name":"光敏传感器数字信号","broker":"123.57.249.92","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b6ca2740.d08e38","type":"mqtt-broker","z":"","name":"people","broker":"123.57.249.92","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a61044af.d2a1f8","type":"ui_tab","z":"","name":"智慧实验室灯光控制系统原型","icon":"dashboard","disabled":false,"hidden":false},{"id":"6a967fe4.559c7","type":"ui_group","z":"","name":"传感器数据变化图","tab":"a61044af.d2a1f8","disp":true,"width":"27","collapse":true},{"id":"f3db026e.fb3ee","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"95037c1f.9f491","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"4acf809e.94a38","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"8e98de2d.83e51","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"31b5df75.8b9f5","type":"mqtt-broker","z":"","name":"esp32_control","broker":"123.57.249.92","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5bae9f1a.58166","type":"ui_group","z":"","name":"","tab":"e577f31e.f394e","order":1,"disp":false,"width":"6","collapse":false},{"id":"e577f31e.f394e","type":"ui_tab","z":"","name":"无线开关编址","icon":"dashboard","order":3},{"id":"16935875.885f88","type":"mqtt-broker","z":"","name":"BW Pi","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"76f1afd.cd6635","type":"mqtt-broker","z":"","name":"light_control","broker":"123.57.249.92","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ef8e6cdd.97783","type":"mqtt-broker","z":"","name":"光敏传感器数字信号","broker":"123.57.249.92","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a83e3c82.163f9","type":"mqtt-broker","z":"","name":"people","broker":"123.57.249.92","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"465a6204.8dc8ec","type":"mqtt-broker","z":"","name":"esp32_control","broker":"123.57.249.92","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8085a2de.42915","type":"mqtt-broker","z":"","name":"光敏传感器数字信号","broker":"123.57.249.92","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"77fae962.d29af8","type":"mqtt-broker","z":"","name":"people","broker":"123.57.249.92","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1589ebc6.d82dc4","type":"mqtt-broker","z":"","name":"esp32_control","broker":"123.57.249.92","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"edc6f91f.7dce08","type":"ui_tab","z":"fd355d95.13057","name":"智慧实验室灯光控制系统原型","icon":"dashboard","disabled":false,"hidden":false},{"id":"6c9c912a.3b634","type":"ui_group","z":"fd355d95.13057","name":"传感器数据变化图","tab":"edc6f91f.7dce08","disp":true,"width":"27","collapse":true},{"id":"79b62ff2.5e58b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f70f7ad6.897e38","type":"mqtt in","z":"fd355d95.13057","name":"","topic":"Lightness","qos":"2","broker":"ef8e6cdd.97783","x":220,"y":240,"wires":[["c68b23e.30cfde","17fd2a97.8a3645"]]},{"id":"c68b23e.30cfde","type":"debug","z":"fd355d95.13057","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":460,"wires":[]},{"id":"50c4af57.f56f6","type":"mqtt in","z":"fd355d95.13057","name":"","topic":"people","qos":"2","broker":"a83e3c82.163f9","x":204,"y":399,"wires":[["c68b23e.30cfde","25ed68b.cc82c98"]]},{"id":"17fd2a97.8a3645","type":"ui_chart","z":"fd355d95.13057","name":"","group":"6c9c912a.3b634","order":1,"width":"9","height":"7","label":"光强传感器数据变化","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":220,"wires":[[]]},{"id":"25ed68b.cc82c98","type":"ui_chart","z":"fd355d95.13057","name":"","group":"6c9c912a.3b634","order":2,"width":"9","height":"7","label":"人体传感器数据变化","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":340,"wires":[[]]},{"id":"df4b631.a08d3a","type":"Blockly","z":"ff27f925.fbdbf8","language":"zh-hans","func":"msg['payload'] = ('[0,0,1,1,1,0]');\nreturn msg;\n","workspaceXml":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"node_red_return\" id=\"gqam@mUy3V,3^j]ClXo`\" x=\"37\" y=\"38\"><value name=\"NAME\"><block type=\"light_control3.0\" id=\"#*HM;s=Uyj).^)]6z^#c\"><field name=\"_auto\">0</field><field name=\"pa\">0</field><field name=\"pb\">1</field><field name=\"pc\">1</field><field name=\"pd\">1</field><field name=\"pe\">0</field></block></value></block></xml>","outputs":1,"name":"","x":480,"y":320,"wires":[["48bc9a8e.e53f24","a9a86398.63e2c"]]},{"id":"48bc9a8e.e53f24","type":"mqtt out","z":"ff27f925.fbdbf8","name":"","topic":"light_control","qos":"2","retain":"","broker":"76f1afd.cd6635","x":750,"y":320,"wires":[]},{"id":"a9a86398.63e2c","type":"debug","z":"ff27f925.fbdbf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":180,"wires":[]},{"id":"e98f16d3.0bc228","type":"inject","z":"ff27f925.fbdbf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":320,"wires":[["df4b631.a08d3a"]]}]